<!-- detail.page.html -->

<ion-content class="custom-background">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/items"></ion-back-button>
        <ion-button routerLink="/home" class="no-border">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="item" class="ion-margin-top">
    <ion-card-header class="custom-background">
      <h5>{{item.name}}</h5>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.categoria}}</p>
      <p>descripcion: {{item.descripcion }}</p>
      <p>Precio: {{ item.precio }} $</p>
    </ion-card-content>
  </ion-card>
</ion-content>
