<!-- login.page.html -->

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Login
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="credentials">
        <ion-item class="ion-margin-bottom">
          <ion-input type="email" placeHolder="Email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-input type="text" placeHolder="Password" formControlName="password"></ion-input>
        </ion-item>

        <div class="botones-container">
          <ion-button type="button" (click)="goToRegister()">Registrarse</ion-button>
          <ion-button (click)="login();" [disabled]="isButtonDisabled">Iniciar sesión</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
