<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="forma">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="nombre" formControlName="name"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="number" placeholder="edad" formControlName="edad"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="tel" placeholder="telefono" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-button type="button" (click)="register()" [disabled]="isButtonDisabled">Registarse</ion-button>
  </form>

</ion-content>
