// home.page.scss

ion-content {
  --ion-background-color: #474343;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ion-card {
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botones-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px; // Ajusta según sea necesario
}

ion-button {
  flex: 1;
  margin-right: 8px;
  --background: #f8e9c5;
  --color: #333333;
  --border-radius: 6px;
  --box-shadow: none;
  max-width: 48%;
  
  &[disabled] {
    --background: #d8d8d8;
    cursor: not-allowed;
  }
}
